**/.DS_Store
**/config.*
**/output
**/out_dir
**/22.*.txt
**/23.*.txt
**/*.raw
**/*.pyc
**/*.bak
**/*.old
**/*.xx
**/*.ok
**/__pycache__
**/*.tar.gz
**/start_num.txt
ZAP_RESULT/SAVE_URLS/24.RUN_SQLMAP.sh
ZAP_RESULT/SAVE_URLS/config.py
